.listagem {
    max-width: 200px;
}

.listagem .pokemon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom:10px;
    background-color: #6b727a;
    color: #FFFFFF;
    padding: 0 5px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 70px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    transition: 0.15s ease-in-out;
}

.listagem .pokemon:hover {
    transform: scale(1.05);
}

.listagem .pokemon img {
width: 25%;
border-radius: 50%;
}

.listagem .pokemon span {
    padding-right: 20px;
}

.listagem .pokemon.ativo {
    background-color: #fa6668;
}
